<header class="site-header">
    <div id="namediv">
        <a id="namelink" href="{{ "/" | relative_url }}">{{ site.name }}</a>
        <p id="description">{{ site.description }}</p>
    </div>
    <div class="container">
        <!-- Home Link -->
        <a id="site-title" href="{{ "/" | relative_url }}">HOME</a>

        <!-- Menu Items -->
        <nav class="site-nav">
            <div class="menu">
                {%- assign menu_items = site.menuitems -%}
                {%- for item in menu_items -%}
                <a class="menu-item" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {%- endfor -%}
            </div>
        </nav>
    </div>
</header>