<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="icon" href="/assets/images/SzV32x32.png" type="image/x-icon">
    {%- include head.html -%}
</head>
<body>
<div class="page-container">
    {%- include header.html -%}
    <main class="site-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {%- include footer.html -%}
</div>
</body>
</html>