---
layout: base
---

<article class="documentation">
    <header>
        {% if page.image %}
        <img src="{{ page.image }}" alt="{{ page.title }} image">
        {% endif %}
        <h1 id="documentation-title">{{ page.title }}</h1>
        <p id="documentation-subtitle">Part of the "{{ page.project }}" project.</p>
        <h2>Table Of Contents</h2>
        <div id="toc"></div>
    </header>
    <section>
        {{ content }}
    </section>
</article>

<script type="text/javascript">
    $(document).ready(function() {
        $('#toc').toc();
    });
</script>
